<link phx-track-static rel="stylesheet" />
<.flash_group flash={@flash} />
<div class="grid sm:grid-cols-1 md:grid-cols-2 main">
  <div class="px-5 2xl:px-[10rem] py-[4rem] content-left ">
    <div class="flex header flex-col lg:flex-row">
      <img class="flip-horizontally" src={~p"/images/logo.jpg"} alt="logo" id="logo">

      <h1 class="ml-0 mt-5 lg:mt-0 lg:ml-5 text-brand header-title text-sm font-semibold leading-6">
        Fedi-bot Chan
      </h1>
    </div>
    <div class="grid grid-cols-1">
      <p class="text-[2rem] mt-4 font-semibold leading-10 tracking-tighter mt-10 text-zinc-900">
        ChatGPT
      </p>
      <div>
        <div class="mt-10">
          <span id="loading" hidden>
            <.icon name="hero-cog-solid mt-10 text-[5rem] animate-spin" />
          </span>
        </div>

        <div id="form" class="flex flex-col">
          <h5 style="text-align: center;">Enter a ChatGPT API key to get started</h5>
          <div class="mt-10">
            <input placeholder="Enter API key here... " onkeydown="add_secret_key(event)"
              class="group relative rounded-2xl px-6 py-4 text-sm font-semibold leading-6 text-zinc-900 w-full lg:w-auto"
              id="url_input" />
          </div>
          <button class="bg-brand/5 text-brand rounded-full px-4 py-4 font-medium leading-6 mt-10"
            onclick="add_secret_key()">
            <.icon name="hero-arrow-up-solid" />
            Save API key
          </button>
        </div>

        <div id="has-credentials" class="flex flex-col">
          <h5 style="text-align: center;"><.icon name="hero-check-solid" /> API key added</h5>
          <button class="bg-brand/5 text-brand rounded-full px-4 py-4 font-medium leading-6 mt-10"
            onclick="delete_secret_key()">
            <.icon name="hero-trash-solid" />
            Delete API key
          </button>
        </div>

      </div>
    </div>
  </div>
  <div class="banner-right hidden sm:hidden md:block">
    <img class="center-cropped-img" src={~p"/images/banner-right.png"} alt="banner">
  </div>
</div>

<script>
  var loading_spinner = document.getElementById("loading");
  var found_credentials = document.getElementById("has-credentials");
  var form = document.getElementById("form");
  var secret_input = document.getElementById("url_input");

  form.style = "display: none;"
  found_credentials.style = "display: none;"

  secret_input.value = "";

  function get_has_credentials() {
    loading.hidden = false;
    fetch("/api/chatgpt/credentials", { method: "GET" })
      .then((response) => response.json())
      .then(res => {
        if (res) {
          found_credentials.style = "display: flex flex-col;"
        } else {
          form.style = "display: flex flex-col;"
        }
      })
      .catch((_) => { })
      .finally((_) => (loading.hidden = true));
  }

  function add_secret_key(event) {
    var pressedEnter = event && event.keyCode == 13;

    if (!pressedEnter && event) {
      return;
    }
    const key = secret_input.value.trim();
    var api_url = new URL("api/chatgpt/credentials", window.location.origin);
    api_url.searchParams.append("secret_key", key);

    fetch(api_url, { method: "POST" })
      .then(() => form.style = "display: none;")
      .then(() => found_credentials.style = "display: flex flex-col;")
      .then(get_has_credentials)
      .catch((e) => {
        console.log(e);
      })
      .finally(_ => loading_spinner.hidden = true);
  }

  function delete_secret_key() {
    if (!confirm("Sure to delete the ChatGPT API key?")) {
      return;
    }

    var api_url = new URL("api/chatgpt/credentials", window.location.origin);
    loading_spinner.hidden = false;

    fetch(api_url, { method: "DELETE" })
      .then(console.debug)
      .then(() => form.style = "display: flex flex-col;")
      .then(() => found_credentials.style = "display: none;")
      .then(get_has_credentials)
      .catch((e) => {
        console.log(e);
      })
      .finally(loading_spinner.hidden = true);
  }

  loading_spinner.hidden = false;
  get_has_credentials();
</script>