@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
}

#logo {
    max-width: 20%;
    border-radius: 100%;
    min-height: 4rem;
    min-width: 4rem;
}

#user-menu {
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(70, 70, 70, 0.4)
}

.banner-right {
    overflow: hidden;
    box-shadow:
        inset -30rem -30em 1px rgba(255, 255, 255, 0.2),
        inset -20rem -20em 1px rgba(0, 0, 0, 0.4),
        inset -10rem -10em 1px rgba(59, 14, 0, 0.6);
}
 

.header {
    align-items: center;
}

.header > img {
    max-height: 100px;
    max-width: 100px;
}
/* .gridit {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". .";
} */

.main {
    height: calc(100% - 25px);
}

.content-left {
    overflow-y: auto;
}

.center-cropped-img {
    object-fit: cover;
    /* Do not scale the image */
    object-position: center;
    /* Center the image within the element */
    height: 100%;
    width: 100%;
    filter: grayscale(0%) blur(1px) saturate(150%) opacity(85%) contrast(123%) invert(0%);
    animation-duration: 10s;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

.flip-horizontally {
    transform: scaleX(-1);
}

input::placeholder {
    text-align: center !important;
}